body {
    width: 100%;
}
.item-customers {
    max-width: 100%;
}
.content-item-customer {
    float: none;
    max-width: fit-content;
}
.photo-cstomer img  {
    margin: 20px;
}
.container-photo-page img {
    max-width: 100%;
    height: 250px;
}
.box-photo-page{
    max-width: 100%;
    top: 160px;
}
.box-photo-page h3 {
    max-width: 90%;
}
.photo-view-page div:first-child img {
    max-width: 80%;
}
.photo-view-page div:last-child img {
    max-width: 80%;
    top: 120px;
    
}
.title-view {
    margin-top: 0;

}
.title-view h2 {
    /* max-width: 100%; */
    font-size: 22px !important;
}
.card-work {
    max-width: 90%;
    display:none;
}
.item-uncover {
    width: 100%;
    float: none;
    margin: 0 auto;
}





